%h4 Search By Date
= form_tag search_by_date_user_records_path(current_user), remote: true, class: "simple_form" do
  / Add the right fields
  %div.input
    / = label_tag "transaction_date", "Transaction Date:"
    / = date_select nil, "transaction_date"
    / Use JQueryUI datepicker

  = submit_tag "Get Records"