%body.user_show
  = render 'shared/top_menu_bar'

  = render 'shared/welcome_side_bar'

  %div.jumbotron.welcome_jumbo
    %div.icon-menu
      %i.glyphicons.icon-list.welcome_icon-list Menu

    %div.container
      %div.content
        %h1 Welcome
        %p Fabric is used everywhere from clothes,...