// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome_jumbo {
  background-image: image-url("arrangement-654576_1280.jpg");
  height: 700px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.content {
  color: #fff;
}

.welcome_icon-list {
  color: #fff;
}